.fact-area{
    background-color: black;
}
.fact{
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    h1{
        color: white;
        font-weight: 700;
    }
    span{
        color: whitesmoke;
    }
}