// team area css
.team{
    margin-top: 60px;
    &__member{
        width: 17.625rem;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.555);
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: .3s;

        }
        &:hover{
            &::before{
                opacity: 1;
                visibility: visible;
            }
            & .team__member-info{
                opacity: 1;
                visibility: visible;
                transition: .3s;
                left: 0;
            }
        }
        & img{
            width: 100%;
        }
        &-info{
            position: absolute;
            bottom: 0;
            right: 0;
            left: 20px;
            z-index: 2;
            text-align: center;
            color: white;
            padding-bottom:50px;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            & .social-icons{
                font-size: 35px;
               
                }
                a{
                    color: black;
                    background: white;
                    border-radius: 50%;
                    display: inline-block;
                    height: 52px;
                    width: 53px;
                    text-align: center;
                    transition: .3s;
                    &:hover{
                        color: white;
                        background-color: rgb(31, 134, 165);
                }
            }
        }
     
    }
}
